<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>GetAccountServlet</servlet-name>
        <servlet-class>com.lxl.servlet.action.GetAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAccountServlet</servlet-name>
        <url-pattern>/account_select</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelAccountServlet</servlet-name>
        <servlet-class>com.lxl.servlet.action.DelAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelAccountServlet</servlet-name>
        <url-pattern>/account_del</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SetAccountServlet</servlet-name>
        <servlet-class>com.lxl.servlet.action.SetAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetAccountServlet</servlet-name>
        <url-pattern>/account_set</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAdminServlet</servlet-name>
        <servlet-class>com.lxl.servlet.action.GetAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAdminServlet</servlet-name>
        <url-pattern>/admin_select</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetImageServlet</servlet-name>
        <servlet-class>com.lxl.servlet.action.SetImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetImageServlet</servlet-name>
        <url-pattern>/upload_img</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>filterDemo1</filter-name>
        <filter-class>com.lxl.servlet.filter.CorsInterceptor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterDemo1</filter-name>
        <url-pattern>/*</url-pattern>
        <!-- /*是对所有的文件进行拦截 -->
    </filter-mapping>

</web-app>